.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.iconButton,
.iconButton *,
.iconButton :after,
.iconButton :before,
.iconButton:after,
.iconButton:before {
  border: 0 solid;
  box-sizing: border-box;
}
.iconButton {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  appearance: button;
  background-color: #000;
  background-image: none;
  color: #1b89ff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #1b89ff);
  mask-image: radial-gradient(#000, #1b89ff);
  text-transform: uppercase;
}
.iconButton:disabled {
  cursor: default;
}
.iconButton:-moz-focusring {
  outline: auto;
}
.iconButton svg {
  vertical-align: middle;
}
.iconButton [hidden] {
  display: none;
}
.iconButton {
  background: #fff;
  background-clip: content-box;
  border: 3px solid;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  height: 40px;
  -webkit-mask-image: none;
  mask-image: none;
  padding: 0;
  position: relative;
  transition: 0.2s;
  width: 40px;
}
.iconButton svg {
  --size: 40px;
  fill: #1b89ff;
  display: block;
  height: var(--size);
  left: calc(50% - var(--size) / 2);
  position: absolute;
  top: calc(50% - var(--size) / 2);
  width: var(--size);
}
.iconButton:active {
  --size: 30px;
  border: 3px solid transparent;
}